################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebCauLong/.vs/WebCauLong
/WebCauLong/WebCauLong/bin/Debug/net9.0
/WebCauLong/WebCauLong/bin/Debug/net8.0
/WebCauLong/WebCauLong/obj
